body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", serif;
  font-size: 16px;
  background-color: #f4f5f7;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Sticky header */
header {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8em;
  box-sizing: border-box;
  font-size: 0.875em;
  box-shadow: -2px 7px 14px -3px rgba(117, 117, 117, 0.3);
}

header h2 {
  font-weight: 400;
  text-decoration: underline;
}

.header-cta {
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.item-bag {
  display: flex;
  align-items: center;
  gap: 3px;
}

header a,
header a:visited {
  text-decoration: none;
  color: #000000;
}

/* header and nav */
.web-title {
  font-family: "Modern No. 20";
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  margin: 0.25em 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  text-align: center;
  gap: 4em;
}

nav ul li {
  list-style: none;
  text-decoration: none;
}

nav ul li a,
nav ul li a:visited {
  text-decoration: none;
  color: #000000;
  font-family: "Modern No. 20";
  font-size: 1.125em;
}

/* section hero */
.hero {
  padding: 0 8em;
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: 689px;
  object-fit: cover;
}

/* section new-collection-promo */
.new-collection-promo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1em 8em;
}

.promo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 471px;
  align-items: center;
}

.new-collection-promo h3 {
  font-family: "Modern No. 20";
  font-size: 2.25em;
  font-weight: 400;
}

.new-collection-promo p {
  font-size: 1.125em;
}

.outlined-button {
  font-size: 0.875em;
  background-color: transparent;
  border: 1px solid #000000;
  width: 224px;
  height: 57px;
  margin-top: 1.5em;
}

.outlined-button:hover,
.filled-button:hover {
  cursor: pointer;
}

/* Section collection showcase */
.collection-showcase {
  padding: 2em 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-showcase h3 {
  font-size: 2.25em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3em;
}

.product-card {
  height: 551px;
}

.product-card img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-description {
  margin: 0.5em 0 0 2em;
}

.product-description p:nth-child(1) {
  color: #848484;
  font-size: 0.75em;
  font-weight: 600;
}

.product-description p:nth-child(2) {
  font-size: 0.875em;
  font-weight: 600;
}

/* Section single showcase separated cta */

.single-showcase-separated-cta {
  padding: 2em 8em;
  display: flex;
  height: 657px;
  justify-content: space-between;
}

.single-showcase-separated-cta img {
  height: 100%;
  width: 70%;
  object-fit: cover;
  transform: scaleX(-1);
}

.showcase-cta {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 260px;
  gap: 5px;
  padding: 0 1em;
}

.showcase-cta h3 {
  font-weight: 600;
  font-size: 1.5em;
}

.showcase-cta p {
  font-weight: 400;
  font-size: 0.75em;
}

/* Section highlighted product showcase */
.highlighted-product-showcase {
  height: 581px;
  padding: 2em 8em;
  position: relative;
}

.highlighted-product-showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.highlighted-product-cta {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 8em 2em;
  padding: 2em;
}

.highlighted-product-cta h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 10px;
  text-align: center;
  color: #ffffff;
}

.filled-button {
  background-color: #ffffff;
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 0.875em;
  text-align: center;
  border: none;
  height: 57px;
  width: 224px;
  margin-top: 1.5em;
}
